{{ $showFooter := default true .Site.Params.showFooter }}
{{ if $showFooter }}
    {{/* Footer start hook */}}
    {{ partial "functions/get_hook.html" (dict "hook" "footer_start" "context" .) }}

    {{ if not .Site.Params.footerContent }}
        <a href="{{ .Site.Params.footerMarkLink }}">
            <div class="footer-mark" style="background-image: url('{{ .Site.Params.footerMark }}')"></div>
        </a>
    {{ end }}
    
    {{ with .Site.Params.footerContent }}
    <p>{{ . | markdownify }}</p>
    {{ end }}
{{ end }}
